%h2= "Call \"#{@call.to_param}\""
- content_tag_for :div, @call do
  %ul
    %li
      %strong Caller:
      =h @call.caller
    %li
      %strong Called:
      =h @call.called
    %li
      %strong Callguid:
      =h @call.callguid
    %li
      %strong Channeltype:
      =h @call.channeltype
    %li
      %strong Callerinput:
      =h @call.callerinput
    %li
      %strong Callerinputhistory:
      =h @call.callerinputhistory
    %li
      %strong Callername:
      =h @call.callername
    %li
      %strong Callerlocation:
      =h @call.callerlocation
%ul
  %li= link_to 'Edit', edit_call_path(@call)
  %li= link_to 'Back', calls_path